@model MediPlus.Models.Cita

@{
    ViewData["Title"] = "Nuevo Registro";
}

<h1>Registrar Cita</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Seleccione el Paciente</label>
                <select asp-for="IdPacientes" class ="form-control" asp-items="ViewBag.IdPacientes"></select>
            </div>
            <div class="form-group">
                <label  class="control-label">Seleccione el Medico</label>
                <select asp-for="IdMedico" class ="form-control" asp-items="ViewBag.IdMedico"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Motivo de Consulta</label>
                <input asp-for="MotivoDeConsulta" class="form-control" />
                <span asp-validation-for="MotivoDeConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de Cita</label>
                <input asp-for="FechaCita" class="form-control" />
                <span asp-validation-for="FechaCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
